* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }
html {
   background-image: url(newyawa.jpg);
   background-size: cover;
   height: 100vh;
}
table {
   width: 32.25em;
   background-color: #efefef;
   padding: 5em 2.75em;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   border-radius: 0.7em;
   box-shadow: 0 1em 4em rgba(71, 50, 4, 0.3);
   
}
#backnisya {
   
}
tr {
   margin-top: 10px;
}
input {
   border: none;
    outline: none;
    display: block;
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    padding: 1em 0 0.5em 0.5em;
    border-bottom: 2px solid #888;
}
.btn {
   position: relative;
   margin-left: 28%;
   font-size: 1.1em;
   width: 10em;
   background-color: #8754ff;
   color: #efefef;
   padding: 0.8em 0;
   margin-top: 2em;
   border-radius: 0.3em;
}
.btn:hover {
   background: skyblue;
   transition: 0.s ease-in-out;
 
   
}